Zerotwo/config.py
Zerotwo/*.session
Zerotwo/*.session-journal
Zerotwo/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Zerotwo/modules/helper_funcs/temp.txt
Zerotwo/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe